<h1><%= @user.email%>'s profile page</h1>


<div> 
  <p>********************Friend's DIV************************</p>
  <h3>Your friends :</h3>
   <ul><%= render @friends_passive %></ul>
   <ul><%= render @friends_active %></ul>
</div>

<div>
  <p>********************Post's DIV************************</p>
  <h3>Publish new post :</h3>
    <div><%= render 'shared/new_post' %></div> 
    <div>
      <%= render @feed %>
    </div>
</div>



  